<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles/style.css"/>
</head>
<body>
    {{ include('navigation.html.twig') }}
    {% block content %}{% endblock %}
</body>
</html>
