<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles/style.css"/>
</head>
<body>
{{ include('sidebar.html') }}

{% for post in posts %}
    <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
{% endfor %}
</body>
</html>