{% extends "base.html.twig" %}

{% block content %}
    <form method="post" action="/login">
        <label>Benutzername: <input type="text"></label>
        <label>Passwort: <input type="password"></label>
        <input type="submit">
    </form>
{% endblock %}