<div class="">
    Blog logo & link
</div>
<h1>Blog name</h1>
<div class="utility">
    <ul>
        <li>Übersicht</li>
        <li>Neuer Eintrag</li>
        <li>Impressum</li>
    </ul>
    <ul>
        <li>Login\Logout</li>
    </ul>
</div>
