<div class="header">
    <div class="row">
        <div class="left">
            <a href="/">Blog logo & link</a>
        </div>
        <h1 class="left">Blog name</h1>
    </div>
    <div class="menu row">
        <ul class="left">
            <li>Übersicht</li>
            <li>Neuer Eintrag</li>
            <li>Impressum</li>
        </ul>
        <ul class="right">
            {% if authenticatedUser %}
                <li><a href="/logout">Logout</a></li>
            {% else %}
                <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </div>
</div>
