<div class="row">
    <div class="left">
        <a href="/">Blog logo & link</a>
    </div>
    <h1 class="left">Blog name</h1>
</div>
<div class="menu">
    <ul>
        <li>Übersicht</li>
        <li>Neuer Eintrag</li>
        <li>Impressum</li>
    </ul>
    <ul>
        <li>Login\Logout</li>
    </ul>
</div>
